<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
        {{!-- css --}}
		<link rel="stylesheet" href="/public/assets/css/style.css">
		<title>MVC With burgers!</title>
        {{!-- jquery --}}
		<script src="https://code.jquery.com/jquery.js"></script>
		{{!-- burgers.js --}}
        <script src="/public/assets/js/burgers.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
